:-webkit-full-screen #mainbody {
  width: 100%;
  height: 100%;
}

body{
	#position:fixed
	#position:fixed;
	#top:0;right:0; bottom:0; left:0;
	margin:0;
	#width:100%;
	#height:100%;
	#border-style:solid;
}

#canvas{
	#border-style:solid;
	#position:fixed;
	margin:0; 
	padding:0;
	#top:0;right:0; bottom:0; left:0;
	width:100%;
	height:100%;
	#overflow:hidden;
}

.ui-layout-pane-center {
    overflow: hidden !important;
	margin:0 !important;
	padding:0 !important;
}

.ui-layout-pane-north {
    overflow: hidden !important;
	margin:0 !important;
	padding:0 !important;
}

.ui-layout-pane-south {
    overflow: hidden !important;
	margin:0 !important;
	padding:0 !important;
}


#term_console{
	position:absolute;
	bottom:0; 
	margin:0; 
	padding:0;
}

#toolbutton{
	position:absolute;
	bottom:0; 
	margin:4;
	left:0;
	padding:4;
}

#ui_scene{
	position:fixed;
	top:0;
	#left:0;
	float:left;
	
	margin:0;
	padding:0;
}
#toolbutton{
	position:absolute;
	bottom:0;
	margin:0;
	padding:0;
}

#menunav{
	position:fixed;
	top:0;
	left:0;
	margin:0;
	padding:0;
}
