doctype 5
html
  head
    title=title
    link(rel='stylesheet', href='css/demos.css')
    link(rel='stylesheet', href='jquery-ui.css')
    link(rel='stylesheet', href='css/uiindex.css')
    link(rel='stylesheet', href='css/element.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')    
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery-ui.js')
    script(type='text/javascript', src='js/three.min.js')
    script(type='text/javascript', src='js/kinetic-v4.7.2.min.js')
    script(type='text/javascript', src='js/CSS3DRenderer.js')
    script(type='text/javascript', src='js/THREEx.KeyboardState.js')
    script(type='text/javascript', src='js/THREEx.FullScreen.js')
    script(type='text/javascript', src='js/THREEx.WindowResize.js')
    script(type='text/javascript', src='js/TrackballControls.js')
    script(type='text/javascript', src='js/dat.gui.min.js')
    
    script(type='text/javascript', src='js/client.js')
    script(type='text/javascript', src='js/uiindex.js')
    script(type='text/javascript', src='js/shares.js')
    script(type='text/javascript', src='js/tsshares.js')
    script(type='text/javascript', src='js/objcharsocket.js')
    //script(type='text/javascript', src='js/gamescene.js')
    script(type='text/javascript', src='js/betaspaceshipscene.js')
  body(id="mainbody")
    block content